*.class
Aprendices
/17-UI Buscaminas/BuscaMinas/nbproject/private/
/17-UI Buscaminas/BuscaMinas/build/
/18-UI Buscaminas/nbproject/private/
/18-UI Buscaminas/build/
/19-FacturadorYeison/nbproject/private/
/19-FacturadorYeison/build/
/19-FacturadorYeison/dist/
/20 - Registro Usuarios/nbproject/private/
/20 - Registro Usuarios/build/
/18-Yeison/nbproject/private/
/18-Yeison/build/
